@using Microsoft.AspNetCore.Mvc.TagHelpers
@model X.PagedList.IPagedList<RodlisteNaturtyper.Data.Models.Assessment>

<partial name="Partials/_ListResultCount" model="Model" />

<ul>
    @foreach (var assessment in Model)
    {
        <li>
            @assessment.Id <a asp-action="Detail" asp-route-id="@assessment.Id">
                @assessment.Name 
            </a>
            @assessment.Category @assessment.Category.GetDescription() @assessment.Committee.Name @assessment.Region.ToString()
        </li>
    }
</ul>