@model SideBarContentViewModel

<h3>Utvikling</h3>
<ul class="history_list">

    @if (Model.AssessmentYear == 2021)
    {
        <li>
            <div class="risk-category-container">
                <b class="text_content"> 2021: </b>
                <div class="@Model.CategoryShort.Substring(0, 2) risk-category-circle-small">
                    <span class="risk-category-tag-label-small">
                        @Model.CategoryShort
                    </span>
                </div>
                <span class="capitalized risk-category-label">
                    @Model.Category
                </span>
            </div>
        </li>
    }

    @foreach (var prev in Model.PreviousAssessments) // tidligere vurderinger
    {
        <li>
            <div class="risk-category-container">
                <b class="text_content"> @prev.Year: </b>
                <div class="@prev.CategoryShort?.Substring(0, 2) risk-category-circle-small">
                    <span class="risk-category-tag-label-small">
                        @prev.CategoryShort
                    </span>
                </div>
                <span class="capitalized risk-category-label">
                    @prev.Category
                </span>
            </div>
        </li>
    }
</ul>
