@{
	var selectedMenuItem = ViewData[ViewDataConstants.SelectedMenuItem]?.ToString();
	var selectedMegaMenuItem = ViewData[ViewDataConstants.SelectedMegaMenuItem]?.ToString();
}

<header class="body-header" role="banner">
	<div class="body-header__top">
		<a href="https://artsdatabanken.no/" class="body-header__logo" title="Til startsiden">
			<svg class="logomark" xmlns="http://www.w3.org/2000/svg" width="159" height="20" fill="none">
				<path fill="currentColor" d="M10.149 19.364c-5.332 0-9.672-4.343-9.672-9.679S4.817.007 10.15.007s9.67 4.342 9.67 9.678h-2.44c0-3.989-3.242-7.234-7.228-7.234S2.923 5.696 2.923 9.686s3.243 7.237 7.228 7.237v2.442z"></path>
				<path fill="#E55440" d="M19.82 19.365h-6.636v-2.42h4.218v-4.222h2.418z"></path>
				<path fill="currentColor" d="M12.875 11.207a1.518 1.518 0 1 0-.001-3.036 1.518 1.518 0 0 0 0 3.036M29.216 19.708c-.774 0-1.416-.13-1.918-.388q-.758-.388-1.125-1.024a2.7 2.7 0 0 1-.37-1.395q0-1.331 1.035-2.106t2.953-.774h2.401v-.166q0-1.07-.58-1.609-.583-.535-1.504-.536-.811 0-1.414.399-.6.4-.729 1.173h-1.958q.093-.997.673-1.71a3.76 3.76 0 0 1 1.479-1.088 5 5 0 0 1 1.966-.38q1.918.001 2.973 1.009 1.052 1.006 1.052 2.742v5.634h-1.697l-.166-1.57q-.387.758-1.124 1.275-.74.517-1.939.516zm.387-1.59q.795 0 1.338-.378t.85-1.008q.303-.628.379-1.387h-2.18q-1.162 0-1.652.407-.488.408-.488 1.017c0 .407.157.75.471.988q.47.36 1.282.359zM36.304 19.482V10.32h1.753l.165 1.737q.48-.905 1.338-1.431.859-.527 2.076-.528v2.052H41.1q-.81 0-1.45.267-.636.269-1.015.906-.38.637-.379 1.766v4.396h-1.958zM47.251 19.48q-1.348 0-2.14-.656-.794-.656-.794-2.338V11.96H42.75v-1.645h1.568l.241-2.327h1.717v2.327h2.583v1.645h-2.583v4.525q0 .758.322 1.044.323.285 1.117.286h1.052v1.662H47.25zM54.194 19.707q-1.736 0-2.861-.851c-.752-.567-1.18-1.32-1.293-2.254h1.975q.146.628.7 1.08.555.454 1.46.453c.602 0 1.02-.124 1.292-.37q.406-.371.407-.851 0-.704-.564-.952-.562-.25-1.56-.452a12 12 0 0 1-1.542-.443 3.4 3.4 0 0 1-1.273-.786q-.509-.51-.508-1.376.001-1.2.923-2.004.921-.803 2.583-.803 1.532 0 2.482.738.952.74 1.117 2.089H55.65a1.37 1.37 0 0 0-.544-.924q-.451-.33-1.21-.33c-.504 0-.874.1-1.144.305a.94.94 0 0 0-.406.786q0 .48.563.758.563.276 1.487.5.921.202 1.708.471.784.268 1.265.786.48.517.48 1.516.017 1.255-.97 2.088-.99.83-2.688.831zM63.764 19.705q-1.331 0-2.345-.629a4.36 4.36 0 0 1-1.588-1.718q-.572-1.09-.572-2.476 0-1.384.572-2.467a4.3 4.3 0 0 1 1.596-1.698q1.025-.62 2.353-.62 1.09.002 1.91.423c.547.284.977.682 1.282 1.202V6.18h1.958v13.302h-1.753l-.202-1.423q-.442.648-1.217 1.145-.774.499-1.994.5m.35-1.701q1.255 0 2.059-.867.803-.87.802-2.235c0-.91-.266-1.673-.802-2.245q-.802-.86-2.059-.86t-2.067.86q-.812.86-.813 2.245 0 .906.37 1.609.368.7 1.023 1.1.656.397 1.487.398zM74.24 19.708c-.774 0-1.417-.13-1.919-.388q-.757-.388-1.125-1.024a2.7 2.7 0 0 1-.37-1.395q0-1.331 1.035-2.106t2.954-.774h2.4v-.166q0-1.07-.58-1.609-.582-.535-1.503-.536-.813 0-1.414.399-.6.397-.73 1.173h-1.957q.093-.997.673-1.71a3.8 3.8 0 0 1 1.476-1.088 5 5 0 0 1 1.966-.38q1.918.001 2.973 1.009 1.052 1.006 1.052 2.742v5.634h-1.697l-.166-1.57q-.388.758-1.125 1.275t-1.938.516zm.387-1.59q.795 0 1.338-.378.542-.378.85-1.008.302-.628.378-1.387h-2.18c-.773 0-1.326.135-1.651.407q-.489.408-.488 1.017c0 .407.157.75.471.988q.47.358 1.282.359zM84.915 19.48q-1.347 0-2.14-.656t-.794-2.338V11.96h-1.567v-1.645h1.567l.242-2.327h1.716v2.327h2.584v1.645h-2.584v4.525q0 .758.323 1.044.322.285 1.116.286h1.052v1.662h-1.515zM91.297 19.708c-.774 0-1.417-.13-1.919-.388q-.757-.388-1.124-1.024a2.7 2.7 0 0 1-.37-1.395q0-1.331 1.034-2.106t2.954-.774h2.4v-.166q0-1.07-.58-1.609-.581-.535-1.503-.536-.812 0-1.414.399-.599.397-.73 1.173h-1.957q.093-.997.673-1.71a3.8 3.8 0 0 1 1.476-1.088 5 5 0 0 1 1.966-.38q1.918.001 2.973 1.009 1.052 1.006 1.052 2.742v5.634H94.53l-.166-1.57q-.387.758-1.124 1.275c-.491.345-1.14.516-1.939.516zm.387-1.59q.795 0 1.338-.378t.85-1.008q.303-.628.378-1.387h-2.179q-1.163 0-1.652.407-.488.408-.488 1.017c0 .407.157.75.471.988q.47.358 1.282.359zM103.534 19.705q-1.07.001-1.893-.424a3.26 3.26 0 0 1-1.302-1.201l-.202 1.403h-1.753V6.181h1.958v5.56q.442-.648 1.217-1.145.774-.498 1.994-.5 1.33 0 2.345.63 1.015.626 1.596 1.717.58 1.09.581 2.476 0 1.385-.581 2.467a4.37 4.37 0 0 1-1.596 1.698q-1.015.62-2.361.62zm-.331-1.701q1.255 0 2.067-.86.812-.858.813-2.245 0-.905-.37-1.608a2.8 2.8 0 0 0-1.015-1.1c-.432-.264-.929-.4-1.495-.4q-1.255 0-2.059.868-.803.87-.802 2.235c0 .91.266 1.673.802 2.245q.802.86 2.059.86zM112.914 19.708c-.774 0-1.417-.13-1.919-.388q-.757-.388-1.125-1.024a2.73 2.73 0 0 1-.37-1.395q0-1.331 1.035-2.106t2.954-.774h2.401v-.166q0-1.07-.581-1.609-.581-.535-1.503-.536-.813 0-1.414.399-.6.397-.729 1.173h-1.958q.093-.997.673-1.71a3.8 3.8 0 0 1 1.476-1.088 5 5 0 0 1 1.966-.38q1.918.001 2.973 1.009 1.052 1.006 1.052 2.742v5.634h-1.697l-.166-1.57q-.388.758-1.124 1.275-.738.517-1.939.516zm.387-1.59q.795 0 1.338-.378t.85-1.008a4.1 4.1 0 0 0 .378-1.387h-2.179q-1.163 0-1.652.407-.489.408-.488 1.017c0 .407.157.75.471.988q.47.358 1.282.359zM120.002 19.486v-9.162h1.736l.149 1.608a3.2 3.2 0 0 1 1.245-1.339q.82-.488 1.893-.488 1.661 0 2.612 1.035.95 1.036.95 3.085v5.266h-1.938v-5.06q0-2.662-2.179-2.662-1.09 0-1.801.775-.71.776-.71 2.218v4.73h-1.957zM130.744 19.483V6.181h1.958v7.924l3.506-3.787h2.345l-3.896 4.157 4.468 5.008h-2.474l-3.949-4.693v4.693zM143.88 19.707q-1.346 0-2.39-.601a4.23 4.23 0 0 1-1.632-1.673c-.396-.713-.592-1.547-.592-2.493s.193-1.805.58-2.532a4.24 4.24 0 0 1 1.624-1.7q1.043-.611 2.427-.61c.922 0 1.68.2 2.345.6q.995.602 1.551 1.598.553.998.552 2.198 0 .184-.008.399-.01.21-.028.471h-7.125q.093 1.33.878 2.024a2.65 2.65 0 0 0 1.818.693q.829 0 1.394-.379.564-.38.841-1.024h1.958a4.16 4.16 0 0 1-1.467 2.161q-1.099.867-2.723.868zm0-8a2.77 2.77 0 0 0-1.736.58q-.758.583-.923 1.747h5.169q-.054-1.07-.757-1.702-.702-.627-1.753-.628zM150.146 19.486v-9.162h1.736l.149 1.608a3.2 3.2 0 0 1 1.245-1.339q.82-.488 1.893-.488 1.662 0 2.612 1.035.95 1.036.95 3.085v5.266h-1.938v-5.06q0-2.662-2.179-2.662-1.09 0-1.801.775-.71.776-.71 2.218v4.73h-1.957z"></path>
			</svg>
		</a>
		<div class="body-header__nav">
			<nav aria-label="Focused menu">
				<ul class="menu">
					<li class="menu-item">
						<a href="https://artsdatabanken.no/node/660953" condition-class-is-active="@(selectedMenuItem == "Arter")">
							Arter
						</a>
					</li>
					<li class="menu-item">
						<a href="https://artsdatabanken.no/node/660954" condition-class-is-active="@(selectedMenuItem == "Naturtyper")">
							Naturtyper
						</a>
					</li>
				</ul>
			</nav>
			<div class="body-header__nav__interaction">
				<div class="body-header__theme-and-search">
					<div class="body-header__theme-switcher">
						<button id="theme-switcher" class="theme-switcher" aria-pressed="false" aria-label="Toggle dark mode">
							<span class="theme-switcher__icon if-inactive" aria-hidden="true">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path fill="currentColor" d="M12 21q-3.75 0-6.375-2.625T3 12t2.625-6.375T12 3a9 9 0 0 1 1.35.1 5.3 5.3 0 0 0-1.637 1.887A5.3 5.3 0 0 0 11.1 7.5q0 2.25 1.575 3.825T16.5 12.9q1.375 0 2.525-.613A5.3 5.3 0 0 0 20.9 10.65 8.5 8.5 0 0 1 21 12q0 3.75-2.625 6.375T12 21m0-2q2.2 0 3.95-1.212a7 7 0 0 0 2.55-3.163q-.5.125-1 .2t-1 .075q-3.075 0-5.238-2.162Q9.1 10.575 9.1 7.5q0-.5.075-1t.2-1a7 7 0 0 0-3.162 2.55Q5 9.8 5 12q0 2.9 2.05 4.95T12 19"></path>
								</svg>
							</span>
							<span class="theme-switcher__icon if-active" aria-hidden="true">
								<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
									<path fill="currentColor" d="M12 15q1.25 0 2.125-.875A2.9 2.9 0 0 0 15 12q0-1.25-.875-2.125A2.9 2.9 0 0 0 12 9q-1.25 0-2.125.875A2.9 2.9 0 0 0 9 12q0 1.25.875 2.125A2.9 2.9 0 0 0 12 15m0 2q-2.075 0-3.537-1.463Q7 14.075 7 12q0-2.075 1.463-3.537Q9.926 7 12 7q2.075 0 3.537 1.463Q17 9.926 17 12q0 2.075-1.463 3.537Q14.075 17 12 17m-7-4H1v-2h4zm18 0h-4v-2h4zM11 5V1h2v4zm0 18v-4h2v4zM6.4 7.75 3.875 5.325 5.3 3.85l2.4 2.5zm12.3 12.4-2.425-2.525L17.6 16.25l2.525 2.425zM16.25 6.4l2.425-2.525L20.15 5.3l-2.5 2.4zM3.85 18.7l2.525-2.425L7.75 17.6l-2.425 2.525z"></path>
								</svg>
							</span>
						</button>
					</div>
					<div class="header-search" id="search-form-wrapper">
						<div data-drupal-selector="views-exposed-form-site-search-searchform">
							<form action="https://artsdatabanken.no/sok" method="get" id="views-exposed-form-site-search-searchform" accept-charset="UTF-8">
								<div class="form--inline">
									<div>
										<label for="edit-search-api-fulltext" class="visually-hidden">Hva leter du etter?</label>
										<input placeholder="Hva leter du etter?" autocomplete="off" class="search-input" data-drupal-selector="edit-search-api-fulltext" type="text" id="edit-search-api-fulltext" name="search_api_fulltext" value="" size="30" maxlength="128">
									</div>
									<div data-drupal-selector="edit-actions" id="edit-actions">
										<button type="submit" id="edit-submit-site-search" class="search-submit">
											<svg xmlns="http://www.w3.org/2000/svg" width="20" height="21" fill="none">
												<path fill="currentColor" d="m16.333 17.785-5.25-5.25a5.078 5.078 0 0 1-3.167 1.083q-2.27 0-3.843-1.572T2.5 8.202t1.573-3.844 3.844-1.573 3.843 1.573 1.573 3.844a5.08 5.08 0 0 1-1.083 3.166l5.25 5.25zm-8.416-5.833q1.562 0 2.656-1.094t1.094-2.656-1.094-2.656Q9.478 4.45 7.917 4.452T5.26 5.546Q4.167 6.639 4.167 8.202q0 1.562 1.093 2.656 1.095 1.095 2.657 1.094"></path>
											</svg> Søk
										</button>
									</div>
								</div>
							</form>
						</div>
					</div>
				</div>
				<button id="menu-toggler" class="menu-toggler" aria-controls="main-nav-container" aria-expanded="false" aria-haspopup="true">
					<span class="menu-toggler__icon menu-toggler__icon--open-mobile" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
							<g clip-path="url(#a1)">
								<path fill="currentColor" fill-rule="evenodd" d="M3 16v2h9.719v-2zm0-5v2h9v-2zm0-5v2h18V6zm16.56 10.662 3.24 3.25 1.2-1.187-3.262-3.275q.249-.362.393-.838a3.7 3.7 0 0 0 .144-1.062q0-1.521-1.062-2.586T17.628 9.9t-2.588 1.062-1.065 2.585 1.064 2.588 2.586 1.065q.575 0 1.075-.15t.86-.388m-.546-1.718q-.562.555-1.394.556-.832 0-1.389-.556-.555-.556-.556-1.389 0-.833.556-1.394t1.389-.561 1.394.561.561 1.394-.561 1.389" clip-rule="evenodd"></path>
							</g>
							<defs>
								<clipPath id="a1">
									<path fill="#fff" d="M0 0h24v24H0z"></path>
								</clipPath>
							</defs>
						</svg>
					</span>
					<span class="menu-toggler__icon menu-toggler__icon--open-desktop" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none">
							<path fill="currentColor" d="M3 18v-2h18v2zm0-5v-2h18v2zm0-5V6h18v2z"></path>
						</svg>
					</span>
					<span class="menu-toggler__icon menu-toggler__icon--close" aria-hidden="true">
						<svg xmlns="http://www.w3.org/2000/svg" width="25" height="25" fill="none">
							<path fill="currentColor" d="m6.9 19.433-1.4-1.4 5.6-5.6-5.6-5.6 1.4-1.4 5.6 5.6 5.6-5.6 1.4 1.4-5.6 5.6 5.6 5.6-1.4 1.4-5.6-5.6z"></path>
						</svg>
					</span>
					<span class="menu-toggler__text menu-toggler__text--menu">Meny</span>
					<span class="menu-toggler__text menu-toggler__text--close">Lukk</span>
				</button>
			</div>
		</div>
	</div>
	<nav id="main-nav-container" class=" mega-menu hidden" aria-label="Hovedmeny struktur" role="navigation">
		<ul class="mega-menu__list mega-menu__list--level-1">
			<li>
				<a href="https://artsdatabanken.no/node/660953">
					Arter
				</a>
				<ul class="mega-menu__list--level-2">
					<li>
						<a href="https://lister.artsdatabanken.no/rodlisteforarter/2021/" condition-class-is-active="@(selectedMegaMenuItem == "Species")">
							Norsk rødliste for arter
						</a>
					</li>
					<li>
						<a href="https://lister.artsdatabanken.no/fremmedartslista/2023" condition-class-is-active="@(selectedMegaMenuItem == "AlienSpecies")">
							Fremmedartslista
						</a>
					</li>
					<li>
						<a href="https://artsdatabanken.no/node/660953#artshandboker">
							Artshåndbøker
						</a>
					</li>
					<li>
						<a href="https://artskart.artsdatabanken.no/">
							Artskart
						</a>
					</li>
					<li>
						<a href="https://mobil.artsobservasjoner.no/">
							Artsobservasjoner
						</a>
					</li>
					<li>
						<a href="https://artsdatabanken.no/node/765259">
							Artsorakel
						</a>
					</li>
					<li>
						<a href="https://nortaxa.artsdatabanken.no/">
							Nortaxa
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="https://artsdatabanken.no/node/660954">
					Naturtyper
				</a>
				<ul class="mega-menu__list--level-2">
					<li>
						<a href="https://artsdatabanken.no/rodlistefornaturtyper" condition-class-is-active="@(selectedMegaMenuItem == "NatureTypes")">
							Norsk rødliste for naturtyper
						</a>
					</li>
					<li>
						<a href="https://artsdatabanken.no/node/765222">
							Natur i Norge (NiN)
						</a>
					</li>
					<li>
						<a href="https://nin.artsdatabanken.no/Natur_i_Norge/Landskap/">
							NiN-kart
						</a>
					</li>
					<li>
						<a href="https://okologiskegrunnkart.artsdatabanken.no/">
							Portal for økologiske grunnkart
						</a>
					</li>
				</ul>
			</li>
			<li>
				<a href="https://artsdatabanken.no/node/765250">
					Aktuelt og innsikt
				</a>
				<ul class="mega-menu__list--level-2">
					<li>
						<a href="https://artsdatabanken.no/node/765057">
							Artsnavn
						</a>
					</li>
					<li>
						<a href="https://artsdatabanken.no/node/661289">
							Artsprosjektet
						</a>
					</li>
					<li>
						<a href="https://artsdatabanken.no/node/765258">
							Publikasjoner
						</a>
					</li>
					<li>
						<a href="https://artsdatabanken.no/node/765038">
							Tilskuddsordninger
						</a>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
</header>