@using Assessments.Web.Models.AlienSpecies
@using Assessments.Web.Models.NatureTypes
@using Assessments.Web.Models.NatureTypes.Enums
@using RodlisteNaturtyper.Data.Models.Enums
@model NatureTypesListViewModel

@{
    var hasFilter = Context.Request.Query.Where(x => !((List<string>) [nameof(Model.Name), nameof(Model.SortBy)]).Contains(x.Key)).Select(x => x.Value).Any(x => !string.IsNullOrEmpty(x));
    
    var hasSearchQuery = !string.IsNullOrEmpty(Context.Request.Query[nameof(Model.Name)]);
}

<form method="get">
    <label asp-for="Name">Søk</label>
    <input asp-for="Name" type="text" />
    <hr />
    @foreach (var item in Enum.GetValues<Category>())
    {
        <label>
            <input type="checkbox" value="@item" name="@nameof(Model.Category)" @(Model.Category.Any(x => x == item) ? "checked" : "") /> @item
        </label>
    }
    <hr />
    @foreach (var item in Model.Committees)
    {
        <label>
            <input type="checkbox" value="@item.Name" name="@nameof(Model.Committee)" @(Model.Committee.Any(x => x == item.Name) ? "checked" : "") /> @item.Name
        </label>
    }
    <hr />
    @foreach (var item in Model.Regions)
    {
        <label>
            <input type="checkbox" value="@item.Id" name="@nameof(Model.Region)" @(Model.Region.Any(x => x == item.Id) ? "checked" : "") /> @item.Name
        </label>
    }
    <hr />
    <label asp-for="Area"></label>
    <select asp-for="Area" asp-items="Html.GetEnumSelectList<AssessmentRegion>()" onchange="this.form.submit();">
        <option value="">Alle</option>
    </select>
    <hr />
    <button type="submit">
        <span class="material-symbols-outlined">
            search
        </span>
        <span>Søk</span>
    </button>
    <br/>
    <div is-visible="@hasFilter">
        <a href="@Context.Request.QueryString.RemoveParametersExcept([nameof(Model.Name)])" class="button tinybutton tertiary search_related">
            <span class="material-icons">close</span>Fjern filter
        </a>
    </div>
    <div is-visible="@hasSearchQuery">
        <a href="@Context.Request.QueryString.RemoveParameters([nameof(AlienSpeciesListParameters.Name), nameof(Model.Name)])" class="button tinybutton tertiary search_related">
            <span class="material-icons">close</span>Fjern søk
        </a>
    </div>
    <hr/>
    <label asp-for="SortBy"></label>
    <select asp-for="SortBy" asp-items="Html.GetEnumSelectList<SortByEnum>()" onchange="this.form.submit();">
    </select>
    <hr/>

</form>

