@inject IOptions<ApplicationOptions> Options
@model NatureTypesDetailViewModel

@{
    var assessment = Model.Assessment;
    ViewBag.Title = $"{NatureTypesConstants.Title2025} {assessment.Name}";
    Layout = "_Layout.cshtml";
}

@section Styles {
    <link rel="stylesheet" href="~/css/assessment.css" />
}

@section Breadcrumb {

    <partial name="Partials/_Breadcrumb" for="Assessment" />
}

@section PageMenu {

    <partial name="/Views/Shared/_PageMenu.cshtml" for="PageMenuViewModel" />
}

<div class="content-placer bigmid">
    <div class="mid-content">
        <div class="page-header">
            <h1>
                @assessment.Name
            </h1>
            <environment exclude="Production">
                <i>data hentes fra @Options.Value.NatureTypes.ODataUrl.Host</i>
            </environment>
            <p class="ingress">
                @Html.Raw(assessment.DescriptionHtml)
            </p>
        </div>
        <ul>
            <li>
                Id: @assessment.Id
            </li>
            <li>Navn: @assessment.Name</li>
            <li>
                Kortkode: @assessment.ShortCode
            </li>
            <li>
                Langkode med lenke : <a href="https://naturinorge.artsdatabanken.no/@assessment.LongCode" target="_blank">@assessment.LongCode</a>
            </li>
            <li is-visible="!string.IsNullOrEmpty(assessment.PopularName)">
                Populærnavn: @assessment.PopularName
            </li>
            <li>
                Kategori med beskrivelse: @assessment.Category @assessment.Category.GetDescription()
            </li>
            <li>Endelig kategori og kriterium: @assessment.CriteriaSummary</li>
            <li>
                Ekspertkomitée: @assessment.Committee.Name
            </li>
            <li>
                Område: @assessment.Region.ToString()
            </li>
            <li is-visible="assessment.Regions.Count != 0">
                <partial name="Partials/Details/_Regions.cshtml" />
            </li>
            <li is-visible="assessment.References.Count != 0">
                <h3>Referanser</h3>
                <ol>
                    @foreach (var reference in assessment.References)
                    {
                        <li>
                            @reference.ReferencePresentation
                        </li>
                    }
                </ol>
            </li>
            <li is-visible="Model.CodeItemViewModels.Count != 0">
                <h3>Påvirkningsfaktorer</h3>
                <table>
                    <thead>
                        <tr>
                            <th>
                                Påvirkningsfaktor
                            </th>
                            <th>
                                Tidspunkt
                            </th>
                            <th>
                                Omfang
                            </th>
                            <th>
                                Alvorlighetsgrad
                            </th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var codeItem in Model.CodeItemViewModels)
                        {
                            <tr>
                                <td>
                                    @codeItem.CodeItemDescription
                                </td>
                                <td>
                                    @codeItem.TimeOfIncident
                                </td>
                                <td>
                                    @codeItem.InfluenceFactor
                                </td>
                                <td>
                                    @codeItem.Magnitude
                                </td>
                            </tr>
                        }
                    </tbody>
                </table>
            </li>
        </ul>

        <partial name="/Views/Shared/_CitationForAssessment.cshtml" for="CitationForAssessmentViewModel" />

        <partial name="/Views/Feedback/_Feedback.cshtml" model="Model.FeedbackViewModel" />
    </div>
</div>