@model CriteriaMatrixViewModel

@{
	var citeriaX = Model.CriteriaX.GetDescription(CriteriaCategoryType.C);
	var citeriaY = Model.CriteriaY.GetDescription(CriteriaCategoryType.C);
	
	var displayMatrix = new List<CriteriaCategory> { CriteriaCategory.CR, CriteriaCategory.EN, CriteriaCategory.VU, CriteriaCategory.NT }.Contains(Model.Criteria);
}

<li class="@(Model.IsActive ? "active opened_element" : "inactive")">
	<div class="text_container">
		<div class="text_collection">
			<span class="title_field clickable" onclick="expandCriteria(this, 'opened_element')">
				<span class="close_icon material-icons text_icon">arrow_drop_down</span>
				<span class="open_icon material-icons text_icon">arrow_right</span>
				<span class="text_text">
					@Model.Description
				</span>
			</span>
			<ul>
				<li class="listitem_criteria active opened_element">
					<div is-visible="!displayMatrix">
						<ul class="thresholdlist_container">
							<li class="thresholdlist active opened_element">
								<div class="risk-category-container ">
									<div class="@Model.Criteria risk-category-circle">
										<span class="risk-category-tag-label">
											@Model.Criteria
										</span>
									</div>
									<span class="capitalized risk-category-label">
										@Model.Criteria.GetDisplayName()
									</span>
								</div>
							</li>
						</ul>
					</div>
					<table class="criteria-matrix" is-visible="displayMatrix">
						<tr>
							<th></th>
							<th class="legend">
								@(Model.CriteriaType == CategoryCriteriaType.C ? "Grad av abiotisk forringelse (%)" : "Grad av biotisk forringelse(%)")
							</th>
						</tr>
						<tr>
							<th class="horizontal-legend">
								Forringet areal (%)
							</th>
							<th>
								<table class="criteria-matrix">
									<tr>
										<th></th>
										<th class="legend">
											&ge; 80%
										</th>
										<th class="legend">
											&ge; 50%
										</th>
										<th class="legend">
											&ge; 30%
										</th>
										<th class="legend">
											&ge; 20%
										</th>
									</tr>
									<tr>
										<th class="legend">
											&ge; 80%
										</th>
										<th class="cr" condition-class-selected="@(citeriaX == "≥ 80%" && citeriaY == "≥ 80%")">
											CR
										</th>
										<th class="en" condition-class-selected="@(citeriaX == "≥ 80%" && citeriaY == "≥ 50%")">
											EN
										</th>
										<th class="vu" condition-class-selected="@(citeriaX == "≥ 80%" && citeriaY == "≥ 30%")">
											VU
										</th>
										<th class="nt" condition-class-selected="@(citeriaX == "≥ 80%" && citeriaY == "≥ 20%")">
											NT
										</th>
									</tr>
									<tr>
										<th class="legend">
											&ge; 50%
										</th>
										<th class="en" condition-class-selected="@(citeriaX == "≥ 50%" && citeriaY == "≥ 80%")">
											EN
										</th>
										<th class="vu" condition-class-selected="@(citeriaX == "≥ 50%" && citeriaY == "≥ 50%")">
											VU
										</th>
										<th class="nt" condition-class-selected="@(citeriaX == "≥ 50%" && citeriaY == "≥ 30%")">
											NT
										</th>
									</tr>
									<tr>
										<th class="legend">
											&ge; 30%
										</th>
										<th class="vu" condition-class-selected="@(citeriaX == "≥ 30%" && citeriaY == "≥ 80%")">
											VU
										</th>
										<th class="nt" condition-class-selected="@(citeriaX == "≥ 30%" && citeriaY == "≥ 50%")">
											NT
										</th>
									</tr>
									<tr>
										<th class="legend">
											&ge; 20%
										</th>
										<th class="nt" condition-class-selected="@(citeriaX == "≥ 20%" && citeriaY == "≥ 80%")">
											NT
										</th>
									</tr>
								</table>
							</th>
						</tr>
					</table>
				</li>
			</ul>
		</div>
	</div>
</li>