@model CriteriaCategoryThreatDefinedlocationViewModel

<li class="@(Model.IsActive && Model.Category != CriteriaCategoryThreatDefinedlocation.None ? "active opened_element" : "inactive")">
	<div class="text_container">
		<div class="text_collection">
			<span class="title_field clickable" onclick="expandCriteria(this, 'opened_element')">
				<span class="close_icon material-icons text_icon">arrow_drop_down</span>
				<span class="open_icon material-icons text_icon">arrow_right</span>
				<span class="text_text">
					@Model.Description
				</span>
			</span>
			<ul>
				@foreach (var value in Enum.GetValues<CriteriaCategoryThreatDefinedlocation>().Where(x => x != CriteriaCategoryThreatDefinedlocation.None))
				{
					var criteriaCategoryClass = Model.Category == value ? "active opened_element" : "inactive";
					<li class="thresholdlist @criteriaCategoryClass">
						<div class="risk-category-container ">
							<div class="@value risk-category-circle">
								<span class="risk-category-tag-label">
									@value
								</span>
							</div>
							<span class="capitalized risk-category-label">
								@(value.ConvertTo<NatureTypeCategoryDto>().DisplayName())
							</span>
							<span>
								@value.GetDescription()
							</span>
						</div>
					</li>
				}
			</ul>
		</div>
	</div>
</li>