@model NatureTypesListViewModel

<div id="viewselector" class="viewselector @Model.ListViewViewModel.View">
    @if (Model.ListViewViewModel.View == "stat")
    {
        <partial name="_Graphs.cshtml" for="NatureTypesStatisticsViewModel" />
    }
    else
    {
        <ul class="main_list_view">
            <li class="listheader" style="grid-template-columns: 2fr auto">
                <span class="list_cell">
                    Naturtype
                    <br/>
                </span>
                <span class="list_cell">
                    Kategori
                </span>
            </li>
            @if (Model.Assessments.Count > 0)
            {
                @foreach (var assessment in Model.Assessments)
                {
                    var topic = Model.NinCodeTopics.FirstOrDefault(x => x.Id == assessment.NinCodeTopicId);

                    <li class="list">
                        <a asp-action="Detail" asp-route-id="@assessment.Id" style="grid-template-columns: 4fr auto auto">
                            <span class="list_cell">
                                @assessment.Name
                                @if (topic != null)
                                {
                                    <br />
                                    <span style="color: grey">
                                        @topic.ShortCode @topic.Name (@topic.Description)
                                    </span>
                                }
                            </span>
                            <span class="list_cell categoryname capitalized">
                                @assessment.Category.GetDescription()
                            </span>
                            <span class="@assessment.Category category_tag">
                                <span class="category_tag_label">@assessment.Category</span>
                            </span>
                        </a>
                    </li>
                }
            }
            else
            {
                <li class="no_results mobile_padding">Kombinasjonen av søk og filter gir ingen treff</li>
            }
        </ul>
        <div class="mobile_padding">
            <partial name="/Views/Shared/_Paginator.cshtml" for="ListViewViewModel" />
        </div>
    }
</div>