@model NatureTypesDetailViewModel

@{
	var criteria = Model.Assessment.CriteriaInformation;
	var type = Model.CategoryCriteriaTypes;
	var isActiveTypeA = type.Contains(CategoryCriteriaType.A);
	var isActiveTypeB = type.Contains(CategoryCriteriaType.B);
	var isActiveTypeC = type.Contains(CategoryCriteriaType.C);
	var isActiveTypeD = type.Contains(CategoryCriteriaType.D);
}

<li class="@(isActiveTypeA ? "active" : "inactive")">
	<span class="text_container clickable" onclick="expandCriteria(this, 'opened_element') ">
		<span class="close_icon material-icons text_icon">arrow_drop_down</span>
		<span class="open_icon material-icons text_icon">arrow_right</span>
		<span class="title_field">
			@($"{CategoryCriteriaType.A} - {CategoryCriteriaType.A.DisplayName()}")
		</span>
	</span>
	<p class="description">
		Reduksjon av naturtypens totalareal i løpet av en 50-årsperiode
	</p>
	<ul class="second">
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("A1 Reduksjon siste 50 år", criteria.CategoryA1, CriteriaCategoryType.A, isActiveTypeA))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("A2a Reduksjon kommende 50 år", criteria.CategoryA2A, CriteriaCategoryType.A, isActiveTypeA))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("A2b Reduksjon i en 50-årsperiode (fortid, nåtid, fremtid)", criteria.CategoryA2B, CriteriaCategoryType.A, isActiveTypeA))
	</ul>
	@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaResult", new CriteriaResultViewModel("Konklusjon for A-kriteriet", criteria.CategoryAResult, isActiveTypeA))
</li>

<li class="@(isActiveTypeB ? "active" : "inactive")">
	<span class="text_container clickable" onclick="expandCriteria(this, 'opened_element') ">
		<span class="close_icon material-icons text_icon">arrow_drop_down</span>
		<span class="open_icon material-icons text_icon">arrow_right</span>
		<span class="title_field">
			@($"{CategoryCriteriaType.B} - {CategoryCriteriaType.B.DisplayName()}")
		</span>
	</span>
	<p class="description">
		Utbredelsesareal i dag (B1) eller antall 10 × 10 km ruter hvor naturtypen finnes i dag (B2). Minst ett av underkriteriene a-c må være angitt for at kategorien B1 og/eller B2 skal gjelde.
	</p>
	<ul class="second">
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("B1 Utbredelsesareal", criteria.CategoryB1, CriteriaCategoryType.B1, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategoryChange", new CriteriaCategoryChangeViewModel("B1a Pågående nedgang i areal eller kvalitet", criteria.CategoryB1Change, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategoryImpact", new CriteriaCategoryImpactViewModel("B1b Påvirkningsfaktor som medfører nedgang i areal eller kvalitet", criteria.CategoryB1Impact, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("B1c Antall lokaliteter/trusler", criteria.CategoryB1Sites, CriteriaCategoryType.BSites, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaResult", new CriteriaResultViewModel("Konklusjon for B1-kriteriet", criteria.CategoryB1Result, isActiveTypeB))
	</ul>
	<ul class="second">
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("B2 Antall 10 x 10 km forekomstruter", criteria.CategoryB2, CriteriaCategoryType.B2, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategoryChange", new CriteriaCategoryChangeViewModel("B2a Pågående nedgang i areal eller kvalitet", criteria.CategoryB2Change, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategoryImpact", new CriteriaCategoryImpactViewModel("B2b Påvirkningsfaktor som medfører nedgang i areal eller kvalitet", criteria.CategoryB2Impact, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategory", new CriteriaCategoryViewModel("B2c Antall lokaliteter/trusler", criteria.CategoryB2Sites, CriteriaCategoryType.BSites, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaResult", new CriteriaResultViewModel("Konklusjon for B2-kriteriet", criteria.CategoryB2Result, isActiveTypeB))
	</ul>
	<ul class="second">
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaCategoryThreatDefinedlocation", new CriteriaCategoryThreatDefinedlocationViewModel("B3 Trusseldefinerte lokaliteter", criteria.CategoryB3, isActiveTypeB))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaResult", new CriteriaResultViewModel("Konklusjon for B3-kriteriet", criteria.CategoryB3Result, isActiveTypeB))
	</ul>
</li>

<li class="@(isActiveTypeC ? "active" : "inactive")">
	<span class="text_container clickable" onclick="expandCriteria(this, 'opened_element') ">
		<span class="close_icon material-icons text_icon">arrow_drop_down</span>
		<span class="open_icon material-icons text_icon">arrow_right</span>
		<span class="title_field">
			@($"{CategoryCriteriaType.C} - {CategoryCriteriaType.C.DisplayName()}")
		</span>
	</span>
	<p class="description">
		Andel av totalarealet som er forringet, og graden av forringelse, basert på endring i en abiotisk variabel, i løpet av en vurderingsperiode på 50 år.
	</p>
	<ul class="second">
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaMatrix", new CriteriaMatrixViewModel("C1 Abiotisk forringelse siste 50 år", CategoryCriteriaType.C, criteria.CategoryC1Area, criteria.CategoryC1Abiotic, criteria.CategoryC1Result, isActiveTypeC))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaMatrix", new CriteriaMatrixViewModel("C2a Abiotisk forringelse kommende 50 år", CategoryCriteriaType.C, criteria.CategoryC2AArea, criteria.CategoryC2AAbiotic, criteria.CategoryC2AResult, isActiveTypeC))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaMatrix", new CriteriaMatrixViewModel("C2b Abiotisk forringelse i en 50-årsperiode", CategoryCriteriaType.C, criteria.CategoryC2BArea, criteria.CategoryC2BAbiotic, criteria.CategoryC2BResult, isActiveTypeC))
	</ul>
</li>

<li class="@(isActiveTypeD ? "active" : "inactive")">
	<span class="text_container clickable" onclick="expandCriteria(this, 'opened_element') ">
		<span class="close_icon material-icons text_icon">arrow_drop_down</span>
		<span class="open_icon material-icons text_icon">arrow_right</span>
		<span class="title_field">
			@($"{CategoryCriteriaType.D} - {CategoryCriteriaType.D.DisplayName()}")
		</span>
	</span>
	<ul class="second">
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaMatrix", new CriteriaMatrixViewModel("D1 Biotisk forringelse siste 50 år", CategoryCriteriaType.D, criteria.CategoryD1Area, criteria.CategoryD1BioticCategory, criteria.CategoryD1ResultCategory, isActiveTypeD))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaMatrix", new CriteriaMatrixViewModel("D2a Biotisk forringelse kommende 50 år", CategoryCriteriaType.D, criteria.CategoryD2AArea, criteria.CategoryD2ABioticCategory, criteria.CategoryD2AResultCategory, isActiveTypeD))
		@await Html.PartialAsync("Partials/Details/Criteria/_CriteriaMatrix", new CriteriaMatrixViewModel("D2b Biotisk forringelse i en 50-årsperiode", CategoryCriteriaType.D, criteria.CategoryD2BArea, criteria.CategoryD2BBioticCategory, criteria.CategoryD2BResultCategory, isActiveTypeD))
	</ul>
</li>
