@using Assessments.Shared.DTOs.NatureTypes.Enums
@model AssessmentCriteriaInformation

<h3>
    Utslagsgivende kriterier
</h3>

<h4>
    A - Reduksjon i totalarealet
</h4>
<p>
    Reduksjon av naturtypens totalareal i løpet av en 50-årsperiode
</p>
<table class="big-data-table">
    <tr>
        <td>
            A1
        </td>
        <td>
            Reduksjon siste 50 år
        </td>
        <td>
            @Model.CategoryA1.GetDescription(CriteriaCategoryType.A)
        </td>
    </tr>
    <tr>
        <td>
            A2a
        </td>
        <td>
            Reduksjon neste 50 år
        </td>
        <td>
            @Model.CategoryA2A.GetDescription(CriteriaCategoryType.A)
        </td>
    </tr>
    <tr>
        <td>
            A2b
        </td>
        <td>
            Reduksjon i en 50 årsperiode (fortid, nåtid, fremtid)
        </td>
        <td>
            @Model.CategoryA2B
        </td>
    </tr>
</table>

<h4>
    B - Begrenset geografisk utbredelse
</h4>
<p>
    Utbredelsesareal i dag (B1) eller antall 10 × 10 km ruter hvor naturtypen finnes i dag (B2). Minst ett av underkriteriene a-c må være angitt for at kategorien B1 og/eller B2 skal gjelde.
</p>
** hvilke felter skal vises?
<h4>
    C - Abiotisk forringelse
</h4>
<p>
    Andel av totalarealet som er forringet, og graden av forringelse, basert på endring i en abiotisk variabel, i løpet av en vurderingsperiode på 50 år.
</p>
<table class="big-data-table">
    <tr>
        <td>
            C1
        </td>
        <td>
            Andel av totalareal forringet siste 50 år
        </td>
        <td>
            @Model.CategoryC1Area.GetDescription(CriteriaCategoryType.C)
        </td>
    </tr>
    <tr>
        <td>
            C1
        </td>
        <td>
            Grad av abiotisk forringelse siste 50 år
        </td>
        <td>
            @Model.CategoryC1Abiotic.GetDescription(CriteriaCategoryType.C)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Tilsvarer
        </td>
        <td>@Model.CategoryC1Result</td>
    </tr>
</table>
<table class="big-data-table">
    <tr>
        <td>
            C2a
        </td>
        <td>
            Andel av totalareal forringet kommende 50 år
        </td>
        <td>
            @Model.CategoryC2AArea.GetDescription(CriteriaCategoryType.C)
        </td>
    </tr>
    <tr>
        <td>
            C2a
        </td>
        <td>
            Grad av abiotisk forringelse kommende 50 år
        </td>
        <td>
            @Model.CategoryC2AAbiotic.GetDescription(CriteriaCategoryType.C)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Tilsvarer
        </td>
        <td>
            @Model.CategoryC2AResult
        </td>
    </tr>
</table>
<table class="big-data-table">
    <tr>
        <td>
            C2b
        </td>
        <td>
            Andel av totalareal forringet 50 år (for-, nå- og framtid)
        </td>
        <td>
            @Model.CategoryC2BArea.GetDescription(CriteriaCategoryType.C)
        </td>
    </tr>
    <tr>
        <td>
            C2b
        </td>
        <td>
            Grad av abiotisk forringelse 50 år (for-, nå- og framtid)
        </td>
        <td>
            @Model.CategoryC2BAbiotic.GetDescription(CriteriaCategoryType.C)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Tilsvarer
        </td>
        <td>
            @Model.CategoryC2BResult
        </td>
    </tr>
</table>

<h4>
    D - Biotisk forringelse
</h4>
<p>
    Andel av totalarealet som er forringet, og graden av forringelse, basert på endring i en biotisk variabel, i løpet av en vurderingsperiode på 50 år.
</p>
<table class="big-data-table">
    <tr>
        <td>
            D1
        </td>
        <td>
            Andel av totalareal forringet siste 50 år
        </td>
        <td>
            @Model.CategoryD1Area.GetDescription(CriteriaCategoryType.D)
        </td>
    </tr>
    <tr>
        <td>
            D1
        </td>
        <td>
            Grad av biotisk forringelse siste 50 år
        </td>
        <td>
            @Model.CategoryD1BioticCategory.GetDescription(CriteriaCategoryType.D)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Tilsvarer
        </td>
        <td>
            @Model.CategoryD1ResultCategory
        </td>
    </tr>
</table>
<table class="big-data-table">
    <tr>
        <td>
            D2a
        </td>
        <td>
            Andel av totalareal forringet kommende 50 år
        </td>
        <td>
            @Model.CategoryD2AArea.GetDescription(CriteriaCategoryType.D)
        </td>
    </tr>
    <tr>
        <td>
            D2a
        </td>
        <td>
            Grad av biotisk forringelse kommende 50 år
        </td>
        <td>
            @Model.CategoryD2ABioticCategory.GetDescription(CriteriaCategoryType.D)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Tilsvarer
        </td>
        <td>
            @Model.CategoryD2AResultCategory
        </td>
    </tr>
</table>
<table class="big-data-table">
    <tr>
        <td>
            D2a
        </td>
        <td>
            Andel av totalareal forringet 50 år (for-, nå- og framtid)
        </td>
        <td>
            @Model.CategoryD2BArea.GetDescription(CriteriaCategoryType.D)
        </td>
    </tr>
    <tr>
        <td>
            D2a
        </td>
        <td>
            Grad av biotisk forringelse 50 år (for-, nå- og framtid)
        </td>
        <td>
            @Model.CategoryD2BBioticCategory.GetDescription(CriteriaCategoryType.D)
        </td>
    </tr>
    <tr>
        <td>
        </td>
        <td>
            Tilsvarer
        </td>
        <td>
            @Model.CategoryD2BResultCategory
        </td>
    </tr>
</table>

<h4>
    E - Kvantitativ risikoanalyse
</h4>
<p>
    Angir den estimerte sannsynligheten for at økosystemet går tapt
</p>
@Model.CategoryE